{erl_opts, [
    fail_on_warning,
    warn_export_all,
    warn_unused_import,
    warn_untyped_record,
    no_debug_info,
    {src_dirs, [
        "src",
        "test"
    ]}
]}.

{port_specs, [
    {"priv/ejieba.so", ["c_src/ejieba.cpp"]},
    {"priv/iconv.so", ["c_src/iconv.c"]}
]}.

{port_env, [
    {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin|gnu)",
        "CXXFLAGS", "$CXXFLAGS -Ic_src/cppjieba/include -Ic_src/cppjieba/deps/ -Ic_src/cppjieba/deps/gtest/include -fPIC -shared"},
    {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin|gnu)",
        "CFLAGS", "$CFLAGS -fPIC -shared"},
    {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin|gnu)",
        "LDFLAGS", "$LDFLAGS -lstdc++"}
]}.


{pre_hooks, [
    {"(linux|darwin|solaris)", compile, "make -C c_src"},
    {"(freebsd)", compile, "gmake -C c_src"}
]}.

{post_hooks, [
    {"(linux|darwin|solaris)", clean, "make -C c_src clean"},
    {"(freebsd)", clean, "gmake -C c_src clean"}
]}.
